<div>
    @if(submitted) {
        <div class="container">
            @if(isOkay) {
                <div class="activate-message">
                    <h2>Activation Réussite</h2>
                    <p>Votre compte est maintenant activé</p>
                    <button class="btn btn-primary" (click)="redirectToLogin()">Go to Login</button>
                </div>
            } @else {
                <div class="activate-error">
                    <h2>Try again</h2>
                    <p>{{message}}</p>
                    <button class="btn btn-primary" (click)="submitted = false">Recommencer</button>
                </div>
            }
            
        </div>
    } @else {
            <div class="container">
                <div class="text-center" style="width: 400px">
                    <h2>Entrez votre code d'activation</h2>
                    <code-input 
                        [isCodeHidden]="false" 
                        [codeLength]="6" 
                        [code]="'number'" 
                        (codeCompleted)="onCodeCompleted($event)"
                    ></code-input>
                </div>
            </div>

    }
</div>

